Repository yt-project/yt, pull requests merged in 2019-12, with the labels that each got.

#2379 [AMRVAC] add missing tests/__init__.py file
  yt/frontends/amrvac/tests/__init__.py
Labels: code frontends, tests: running tests

#2357 [AMRVAC] ensure consistent renormalisation of amrvac datasets
  doc/source/examining/loading_data.rst
  tests/tests.yaml
  yt/frontends/amrvac/data_structures.py
  yt/frontends/amrvac/tests/test_outputs.py
Labels: code frontends, enhancement

#2369 [AMRVAC] Parse AMRVAC's parfiles if user-provided
  MANIFEST.in
  yt/frontends/amrvac/__init__.py
  yt/frontends/amrvac/data_structures.py
  yt/frontends/amrvac/tests/sample_parfiles/bw_3d.par
  yt/frontends/amrvac/tests/sample_parfiles/tvdlf_scheme.par
  yt/frontends/amrvac/tests/test_read_amrvac_namelist.py
Labels: code frontends, new feature

#2382 [AMRVAC] add AMRVAC entry to code_support.rst
  doc/source/reference/code_support.rst
Labels: code frontends

#2380 [AMRVAC] complete api doc for amrvac's frontend.
  doc/source/reference/api/api.rst
Labels: code frontends, docs: internal

#2376 [AMRVAC] fix energy field name and unit
  tests/tests.yaml
  yt/frontends/amrvac/fields.py
Labels: bug, code frontends

#2384 [AMRVAC] applied numpy docstring style to most of AMRVAC's frontend
  yt/frontends/amrvac/__init__.py
  yt/frontends/amrvac/data_structures.py
  yt/frontends/amrvac/io.py
Labels: docs: internal

#2390 Correctly register reversed versions of cmocean cmaps
  yt/visualization/color_maps.py
Labels: bug, viz: 2D

#2381 [AMRVAC] add derived fields for hydro runs
  doc/source/examining/loading_data.rst
  yt/frontends/amrvac/data_structures.py
  yt/frontends/amrvac/fields.py
Labels: code frontends, new feature
