Repository yt-project/yt, pull requests merged in 2019-11, with the labels that each got.

#2362 [AMRVAC] fix derived unit parsing
  yt/frontends/amrvac/data_structures.py
Labels: bug, code frontends

#2366 fix issue 2365
  yt/data_objects/time_series.py
Labels: bug, yt core

#2371 Add support for spherical geometries in plot_2d
  yt/visualization/plot_window.py
  yt/visualization/tests/test_plotwindow.py
Labels: bug, coordinates: non-cartesian, viz: 2D

#2360 [ARMVAC] restore jet test
  yt/frontends/amrvac/tests/test_outputs.py
Labels: code frontends

#2377 Update magnetic field handling for RAMSES
  yt/frontends/ramses/field_handlers.py
  yt/frontends/ramses/fields.py
  yt/frontends/ramses/io.py
  yt/frontends/ramses/tests/test_outputs.py
Labels: code frontends
