Repository yt-project/yt, pull requests merged in 2019-07, with the labels that each got.

#2278 Simplify and correct tipsy sub-chunking.
  yt/frontends/tipsy/io.py
Labels: bug, code frontends, demeshening

#2136 Mesh deposition faster
  doc/source/analyzing/fields.rst
  yt/data_objects/octree_subset.py
  yt/data_objects/region_expression.py
  yt/data_objects/static_output.py
  yt/fields/field_detector.py
  yt/fields/field_functions.py
  yt/frontends/artio/_artio_caller.pyx
  yt/geometry/grid_geometry_handler.py
  yt/geometry/oct_container.pxd
  yt/geometry/oct_container.pyx
  yt/geometry/oct_geometry_handler.py
  yt/geometry/oct_visitors.pxd
  yt/geometry/particle_deposit.pxd
  yt/geometry/particle_deposit.pyx
  yt/geometry/tests/test_particle_deposit.py
Labels: new feature

#2301 Neighbor value
  doc/source/analyzing/fields.rst
  yt/fields/particle_fields.py
  yt/geometry/tests/test_neighbor_search.py
  yt/testing.py
Labels: enhancement, index: particle, yt core
