Repository yt-project/yt, pull requests merged in 2024-07, with the labels that each got.

#4897 TST: migrate test_disks.py from nose to pytest
  nose_ignores.txt
  pyproject.toml
  yt/data_objects/tests/test_disks.py
Labels: refactor, pytest

#4938 [BUG] RAMSES: allow reading datasets with slightly broken records.
  yt/frontends/ramses/particle_handlers.py
Labels: bug, code frontends

#4937 AMRVAC: variable He abundance
  yt/frontends/amrvac/data_structures.py
  yt/frontends/amrvac/io.py
Labels: enhancement, code frontends

#4943 BUG: fix loading of AMReX datasets with `~` in the filename
  yt/frontends/amrex/data_structures.py
Labels: bug, code frontends

#4942 TST: add missing `@requires_module` decorators in particle deposition tests
  yt/geometry/tests/test_particle_deposit.py
Labels: bug, tests: running tests

#4915 add check for Sub_conventions for CFradial
  yt/frontends/cf_radial/data_structures.py
Labels: enhancement, code frontends

#4932 Add support for Enzo-E simulations with 0 ghost zones
  yt/frontends/enzo_e/data_structures.py
  yt/frontends/enzo_e/io.py
Labels: enhancement, code frontends

#4945 Fix memory leakage
  yt/utilities/lib/quad_tree.pyx
Labels: bug

#4947 BLD: switch to stable setuptools build backend
  pyproject.toml
  setup.py
Labels: enhancement, build

#4950 TST: skip a flaky test on Windows
  yt/tests/test_load_sample.py
Labels: bug, tests: running tests

#4956 new prefix for images produced in testing: baseline_ or thisPR_
  yt/utilities/answer_testing/framework.py
Labels: enhancement, tests: running tests

#4949 MNT: cleanup cibuildwheel configuration and move it to `pyproject.toml`
  .github/workflows/wheels.yaml
  pyproject.toml
Labels: enhancement, build

#4955 DOC: added note that answer tests are currently run with nose
  doc/source/developing/testing.rst
Labels: docs

#4957 DEP: exclude numpy 2.0.1 on macOS arm64
  pyproject.toml
Labels: bug, tests: running tests, dependencies
